.file-upload-filed-actions {
	display: flex;
	margin-bottom: 10px;
}

.file-upload-filed-actions .components-form-file-upload {
	margin-right: 10px;
}

ul.file-upload-field-files,
.edit-post-visual-editor ul.file-upload-field-files {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	margin: 0 -8px;
	padding: 0;
}

.file-upload-field-files li {
	background: #f5f5f5;
	border: 1px solid #ccc;
	box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05);
	color: #444;
	cursor: pointer;
	margin: 8px;
	padding-bottom: 44px;
	position: relative;
	text-align: center;
	width: 20%;
}

.inspector-field .file-upload-field-files li {
	width: 43.8%;
}

.middleware-field-media-thumbnail {
	display: none;
}

.middleware-field-media-thumbnail {
	display: inline-block;
	margin-top: 10px;
}

.middleware-field-media-thumbnail span {
	display: block;
	font-size: 60px;
	height: 60px;
	margin: 0 auto;
	width: 60px;
}

.middleware-remove-file {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	position: absolute;
	right: 2px;
	top: 2px;
	z-index: 4;
}

.middleware-file {
	background: rgba(255, 255, 255, 0.90);
	bottom: 0;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
	font-size: 12px;
	left: 0;
	max-height: 100%;
	overflow: hidden;
	padding: 5px 10px;
	position: absolute;
	text-align: center;
	width: 100%;
	word-wrap: break-word;
	z-index: 2;
}

.middleware-file a {
	color: #444;
	font-weight: 500;
	text-decoration: none;
}

.file-upload-field .dashicons-upload {
  vertical-align: middle;
  margin-bottom: 3px;
}
